* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  border-bottom: 1px solid #E5E5E5;
}

.navbar-nav .nav-link {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  border-radius: 8px;
  padding: 6px 7px 6px 7px;
  margin: 5px 5px 5px 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: #343434;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #15b3f65d;
  transition: 0.5s;
}

.nav-link:hover i {
  color: #15B2F6;
  transition: 0.5s;
}

.navbar-brand img {
  transition: 0.2s;
}

.navbar-brand img:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.nav-link.redes:hover {
  background-color: transparent;
}

@media (max-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 14px;
  }
}
footer {
  list-style: none;
  width: 100%;
  background-color: #E5E5E5;
  border-top: 5px solid #35353560;
}
footer .piePag {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  width: 90%;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .piePag a {
  text-decoration: none;
  font-size: 20px;
  color: #343434;
}
footer .piePag ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}
footer .piePag ul li {
  text-align: center;
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  padding: 6px;
  margin: 0 10px 0 10px;
}
footer .piePag .redSocial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .piePag .redSocial a {
  margin: 0 10px 0 10px;
}

footer ul li a:hover {
  color: #343434;
  text-decoration: underline;
  transition: 0.2s;
}

.redSocial a i {
  flex: 1;
}

@media (max-width: 900px) {
  footer .piePag {
    height: auto;
    padding: 10px 0 10px 0;
    flex-direction: column;
  }
  footer .piePag a {
    font-size: 15px;
  }

  .redSocial a i {
    margin: 20px;
  }
}
/*index*/
.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.carousel__fondo {
  background-image: url("/imagenes/edificios.svg");
  background-size: cover;
  width: 100%;
  background-position: center;
}

.carousel__sub-item {
  margin: auto;
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
}
.carousel__sub-item img {
  width: 35%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.sub-item__titulos {
  flex: 1;
  justify-content: center;
}
.sub-item__titulos h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #343434;
  line-height: 1.5em;
}
.sub-item__titulos h1 b {
  font-family: "Quicksand", sans-serif;
}
.sub-item__titulos label {
  background-color: #15B2F6;
  text-decoration: none;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 3px #E5E5E5;
  cursor: pointer;
  width: 190px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.sub-item__titulos i {
  margin-left: 20px;
  transition: 0.2s;
}
.sub-item__titulos button {
  display: none;
}

.sub-item__titulos label:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.sub-item__titulos label:hover i {
  transform: rotate(90deg);
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .sub-item__titulos h1 {
    font-size: 50px;
  }
  .sub-item__titulos label {
    padding: 8px;
    width: 135px;
    font-size: 15px;
  }
}
@media (max-width: 1090px) {
  .carousel__sub-item {
    max-height: 750px;
    padding: 40px auto 40px auto;
  }
}
@media (max-width: 800px) {
  .carousel__sub-item {
    flex-direction: column;
    max-height: 450px;
    margin: auto;
    padding-bottom: 20px;
  }
  .carousel__sub-item h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
  }
  .carousel__sub-item img {
    width: 70%;
    margin: 20px auto;
    flex: 2;
  }
  .carousel__sub-item label {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 40px;
  }
}
/*SECCION COTIZAR*/
.formCotizar {
  background-color: #E5E5E5;
  padding: 10px 0 20px 0;
}

.formCotizar__contenedor {
  margin: 40px auto;
  width: 90%;
  height: auto;
}
.formCotizar__contenedor h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: #343434;
  font-weight: 900;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
}

/*acceso a distintos formularios*/
.formCotizar__seguros {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 35px;
}
.formCotizar__seguros a {
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  padding: 28px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #343434;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 30px;
  border: 2px solid white;
  text-decoration: none;
}
.formCotizar__seguros i {
  font-size: 50px;
}
.formCotizar__seguros .activo {
  background-color: white;
  color: #15B2F6;
  border: 2px solid #15B2F6;
}

.formCotizar__seguros a:hover {
  color: #15B2F6;
  transition: 0.4s ease all;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.274);
}

/*COTIZADOR*/
.formCotizar__cotizador form input:focus {
  border: 2px solid #15B2F6;
}

.formCotizar__cotizador form input {
  padding: 15px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 11px;
  background-color: white;
  margin: 10px 5px 25px 5px;
  outline: none;
  border: 2px solid white;
  flex: 1;
}
.formCotizar__cotizador .lineaUno, .formCotizar__cotizador .lineaDos, .formCotizar__cotizador .lineaTres {
  display: flex;
  flex-wrap: wrap;
}
.formCotizar__cotizador .lineaUno #mail {
  flex: 2;
}
.formCotizar__cotizador .enviar {
  text-decoration: none;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #15B2F6;
}
.formCotizar__cotizador .reset {
  text-decoration: none;
  border: 2px solid #15B2F6;
  font-size: 18px;
  border-radius: 15px;
  padding: 9px;
  color: #343434;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.219);
}

.formCotizar__cotizador .enviar:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.formCotizar__cotizador .reset:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.911);
}

/*responsive seccion cotizar*/
@media (max-width: 1200px) {
  .formCotizar__seguros {
    gap: 30px;
  }
  .formCotizar__seguros i {
    font-size: 45px;
  }
}
@media (max-width: 1024px) {
  .formCotizar__seguros {
    gap: 20px;
  }
  .formCotizar__seguros i {
    font-size: 30px;
  }
  .formCotizar__seguros a {
    font-size: 10px;
    padding: 24px;
    line-height: 25px;
  }
}
@media (max-width: 900px) {
  .formCotizar h1 {
    font-size: 30px;
  }

  .formCotizar__seguros {
    gap: 18px;
  }
  .formCotizar__seguros a {
    font-size: 8px;
    padding: 20px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .formCotizar__seguros {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 12px;
    grid-column-gap: 70px;
  }
  .formCotizar__seguros a {
    font-size: 10px;
    padding: 16x;
    line-height: 32px;
  }
  .formCotizar__seguros i {
    font-size: 40px;
  }

  .formCotizar h1 {
    font-size: 25px;
  }
  .formCotizar form input {
    padding: 10px;
    font-size: 15px;
    margin: 10px 10px 25px 10px;
  }
  .formCotizar .enviar {
    font-size: 15px;
    padding: 7px;
  }
  .formCotizar .reset {
    font-size: 14px;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .formCotizar__seguros {
    grid-column-gap: 55px;
    grid-row-gap: 12px;
  }
  .formCotizar__seguros a {
    font-size: 8px;
    padding: 12px;
    line-height: 25px;
  }
  .formCotizar__seguros i {
    font-size: 35px;
  }

  .formCotizar form input {
    margin: 8px 5px 15px 5px;
  }
}
@media (max-width: 480px) {
  .formCotizar h1 {
    font-size: 20px;
  }

  .formCotizar__seguros {
    grid-column-gap: 50px;
    grid-row-gap: 10px;
  }
  .formCotizar__seguros a {
    font-size: 8px;
    padding: 9px;
    line-height: 22px;
  }
  .formCotizar__seguros i {
    font-size: 30px;
  }

  .formCotizar__cotizador form input {
    padding: 8px;
    font-size: 12px;
    margin: 5px 5px 10px 5px;
  }
  .formCotizar__cotizador .enviar {
    font-size: 14px;
    padding: 6px;
  }
  .formCotizar__cotizador .reset {
    font-size: 13px;
    padding: 4px;
  }
}
@media (max-width: 380px) {
  .formCotizar__seguros {
    grid-column-gap: 35px;
  }
  .formCotizar__seguros i {
    font-size: 25px;
  }
}
/*PREGUNTAS FRECUENTES ACCESO*/
.FAQ {
  margin: 40px auto;
  width: 90%;
  height: auto;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}
.FAQ .FAQ__titulos {
  flex: 2;
  justify-content: center;
}
.FAQ h1 {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}
.FAQ h2 {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
}
.FAQ h2 a {
  color: #15B2F6;
}
.FAQ img {
  width: 40%;
  flex: 1;
  justify-content: center;
}

@media (max-width: 1024px) {
  .FAQ h1 {
    font-size: 45px;
  }
  .FAQ h2 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .FAQ {
    flex-direction: column;
  }
  .FAQ img {
    width: 70%;
    margin: auto;
  }
  .FAQ h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .FAQ h1 {
    font-size: 30px;
  }
  .FAQ h2 {
    font-size: 18px;
  }
}
/*preguntas frecuentes*/
.preguntasFrecuentes__fondo {
  background-image: url("/imagenes/edificios.svg");
  background-size: cover;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
}

.preguntasFrecuentes {
  margin: auto;
  width: 90%;
  padding-bottom: 40px;
  max-width: 1380px;
  font-size: 23px;
  color: #343434;
  line-height: 1.8em;
  font-family: "Raleway", sans-serif;
}
.preguntasFrecuentes .preguntasFrecuentes__titulo h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-top: 30px;
}
.preguntasFrecuentes .preguntasFrecuentes__titulo h3 {
  font-weight: 800;
  margin: 30px 0 30px 0;
}
.preguntasFrecuentes .pregunta {
  font-weight: 600;
  width: 100%;
  background-color: white;
  padding: 28px;
  border-radius: 15px;
  margin: 35px auto 0;
  font-size: 22px;
  color: #343434;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preguntasFrecuentes .pregunta i {
  font-size: 26px;
  color: #15B2F6;
  transition: 0.3s;
}
.preguntasFrecuentes p {
  margin-bottom: 0;
}
.preguntasFrecuentes .respuesta {
  width: 95%;
  margin: auto;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  background-color: white;
  font-size: 20px;
}

.preguntasFrecuentes .pregunta:hover {
  transition: 0.2s;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.192);
}

a[aria-expanded=true] i {
  transform: rotate(45deg);
  transition: 0.3s;
}

@media (max-width: 850px) {
  .preguntasFrecuentes .preguntasFrecuentes__titulo h1 {
    font-size: 30px;
  }
  .preguntasFrecuentes .preguntasFrecuentes__titulo h3 {
    font-size: 20px;
    line-height: 1.5em;
  }
  .preguntasFrecuentes .pregunta {
    padding: 20px;
    margin: 20px auto 0;
    font-size: 18px;
  }
  .preguntasFrecuentes .pregunta i {
    font-size: 23px;
  }
  .preguntasFrecuentes .respuesta {
    line-height: 1.5em;
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .preguntasFrecuentes .preguntasFrecuentes__titulo h1 {
    font-size: 25px;
  }
  .preguntasFrecuentes .preguntasFrecuentes__titulo h3 {
    font-size: 18px;
  }
  .preguntasFrecuentes .pregunta {
    font-size: 16px;
  }
  .preguntasFrecuentes .pregunta i {
    font-size: 18px;
  }
  .preguntasFrecuentes .respuesta {
    font-size: 15px;
  }
}
/*CONTACTO*/
.contacto__contenedor {
  color: #343434;
  font-size: 20px;
}

.caja-principal {
  margin: 40px auto;
  width: 90%;
  max-width: 1380px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*caja 1/2*/
.imagen-titulo {
  width: 45%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.imagen-titulo img {
  display: flex;
  flex: 1;
  align-content: center;
  width: 95%;
}
.imagen-titulo h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin: 20px 0 40px 0;
  color: #343434;
  align-content: flex-start;
}

/*caja 2/2*/
.contacto__formulario {
  width: 100%;
  min-height: 500px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
.contacto__formulario p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 25px 0 20px 0;
  color: #343434;
}

/*formulario*/
.formContacto {
  width: auto;
  color: #343434;
}
.formContacto .enviar {
  background-color: #15B2F6;
  text-decoration: none;
  border: none;
  font-size: 17px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  margin-right: 10px;
}
.formContacto .reset {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.219);
  text-decoration: none;
  border: 2px solid #15B2F6;
  font-size: 16px;
  border-radius: 15px;
  padding: 9px;
  color: #343434;
}
.formContacto .datosP {
  display: flex;
  flex-wrap: wrap;
}
.formContacto input {
  padding: 10px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #E5E5E5;
  margin: 8px 0 10px 0;
}
.formContacto textarea {
  padding: 12px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #E5E5E5;
  min-width: 100%;
  max-width: 100%;
  margin: 12px 0 20px 0;
}

.datosP input {
  flex: 1;
}
.datosP #nombre {
  margin-right: 20px;
}

.formContacto .enviar:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.formContacto .reset:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.911);
}

/*section maneras-contacto*/
.manerasContacto {
  background-color: #E5E5E5;
  width: 100%;
  margin: 30px 0 30px 0;
  padding: 40px 0 40px 0;
}

.manerasContacto__contenedor {
  width: 90%;
  margin: auto;
  max-width: 1380px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.manerasContacto__contenedor div {
  background-color: white;
  color: #343434;
  font-weight: 400;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.extra-contacto a {
  text-decoration: none;
  color: #343434;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
.extra-contacto i {
  color: #343434;
  font-size: 50px;
  margin: 10px auto 10px auto;
}
.extra-contacto .horarios {
  font-size: 12px;
}

.extra-contacto a:hover i {
  color: #15B2F6;
  transition: 0.5s;
}

@media (max-width: 980px) {
  .datosP #nombre {
    margin-right: 0;
  }
}
@media (max-width: 950px) {
  .manerasContacto__contenedor {
    gap: 15px;
  }
  .manerasContacto__contenedor div {
    padding: 12px;
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .caja-principal {
    flex-direction: column;
  }

  .imagen-titulo {
    width: 100%;
    margin: auto;
    min-height: auto;
  }
  .imagen-titulo h1 {
    font-size: 30px;
    margin: 20px 0 15px 0;
  }
  .imagen-titulo img {
    width: 70%;
    margin: 0 auto;
  }

  .contacto__formulario {
    margin: auto;
    width: 100%;
    min-height: none;
  }
  .contacto__formulario p {
    margin-top: 0;
    font-size: 20px;
  }
  .contacto__formulario .formContacto {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .manerasContacto__contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
  .manerasContacto__contenedor div {
    font-size: 16px;
  }
}
/*acceso a cotizar desde CONTACTO.html*/
.accesoCotizar {
  margin: auto;
  width: 90%;
  max-width: 1380px;
  height: auto;
  padding: 50px 0 40px 0;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}
.accesoCotizar .acceso__titulos {
  flex: 2;
  justify-content: center;
}
.accesoCotizar h1 {
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.accesoCotizar h1 a {
  color: #15B2F6;
}
.accesoCotizar img {
  width: 40%;
  flex: 1;
  justify-content: center;
}

@media (max-width: 1024px) {
  .acceso__titulos h1 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .acceso__titulos {
    flex-direction: column;
  }
  .acceso__titulos img {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .acceso__titulos h1 {
    font-size: 30px;
  }
}
/*insitucional*/
.institucional {
  margin: 40px auto;
  width: 90%;
  min-height: 70vh;
  max-width: 1380px;
}
.institucional .allInstitucional {
  display: flex;
  align-items: center;
}
.institucional h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #343434;
  margin-bottom: 30px;
}
.institucional img {
  display: flex;
  width: 45%;
  flex: 1;
}
.institucional .contInfo {
  font-size: 18px;
  color: #343434;
  line-height: 1.5em;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media (max-width: 960px) {
  .institucional h1 {
    font-size: 35px;
  }
  .institucional .contInfo {
    font-size: 12px;
  }
  .institucional img {
    width: 75%;
  }
  .institucional .allInstitucional {
    flex-direction: column;
  }
}
.contenedor404__caja {
  margin: 40px auto;
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedor404__caja img {
  flex: 1;
  width: 50%;
  margin: 20px auto;
}
.contenedor404__caja .contenedor404__texto {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.contenedor404__caja .contenedor404__texto h1 {
  text-align: center;
  margin: auto;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  color: #15B2F6;
  margin-top: 20px;
}
.contenedor404__caja .contenedor404__texto h2 {
  margin: auto;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: #343434;
  text-align: center;
  margin-top: 20px;
}
.contenedor404__caja .contenedor404__texto label {
  margin: auto;
  font-family: "Raleway", sans-serif;
  background-color: #15B2F6;
  text-decoration: none;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 3px #E5E5E5;
  cursor: pointer;
  width: 40%;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.contenedor404__caja .contenedor404__texto label i {
  align-items: center;
  margin-left: 20px;
  transition: 0.2s;
}
.contenedor404__caja .contenedor404__texto button {
  display: none;
}

.contenedor404__texto label:hover {
  opacity: 0.7;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .contenedor404__caja .contenedor404__texto h1 {
    font-size: 40px;
  }
  .contenedor404__caja .contenedor404__texto h2 {
    font-size: 25px;
  }
  .contenedor404__caja .contenedor404__texto label {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .contenedor404__caja .contenedor404__texto h1 {
    font-size: 30px;
  }
  .contenedor404__caja .contenedor404__texto h2 {
    font-size: 20px;
  }
}
.mapa {
  background-image: url("/imagenes/edificios.svg");
  background-size: cover;
  background-attachment: fixed;
}

.contenedor__mapa {
  margin: 0 auto;
  width: 90%;
}
.contenedor__mapa .subcontenedor__mapa {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}
.contenedor__mapa .subcontenedor__mapa img {
  width: 40%;
}
.contenedor__mapa .subcontenedor__mapa ul {
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.contenedor__mapa .subcontenedor__mapa ul .titulo {
  font-weight: 700;
  margin-top: 10px;
  font-size: 30px;
  color: #343434;
  font-family: "Raleway", sans-serif;
}
.contenedor__mapa .subcontenedor__mapa ul .subtitulo {
  font-weight: 600;
  font-size: 25px;
  color: #15B2F6;
  font-family: "Raleway", sans-serif;
}
.contenedor__mapa .subcontenedor__mapa ul a {
  text-decoration: none;
}
.contenedor__mapa .subcontenedor__mapa ul a:hover {
  text-decoration: underline;
  transition: 0.2s;
}
.contenedor__mapa .subcontenedor__mapa ul a:hover i {
  transform: scale(1.1);
  transition: 0.2s;
}
.contenedor__mapa .subcontenedor__mapa ul .subtitulo li {
  margin-left: 15px;
}
.contenedor__mapa .subcontenedor__mapa ul li {
  width: auto;
}
.contenedor__mapa .subcontenedor__mapa ul i {
  margin-right: 5px;
}
.contenedor__mapa .subcontenedor__mapa ul ul {
  margin: 14px 0;
}
.contenedor__mapa h1 {
  font-weight: 800;
  padding-top: 15px;
  font-size: 50px;
  color: #343434;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 1150px) {
  .contenedor__mapa .subcontenedor__mapa img {
    display: none;
  }
}
@media (max-width: 670px) {
  .contenedor__mapa h1 {
    font-size: 35px;
  }
  .contenedor__mapa .titulo {
    font-size: 20px;
  }
  .contenedor__mapa .subtitulo {
    font-size: 15px;
  }
}
@media (max-width: 470px) {
  .contenedor__mapa h1 {
    font-size: 30px;
  }
  .contenedor__mapa ul .subtitulo li {
    margin-left: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
