/*insitucional*/
$main-color : #15B2F6;
$text-color: #343434;
$back-grey : #E5E5E5;
$main-font: 'Raleway', sans-serif;
$max-width: 1380px;
.contenedorTitulo.institucionalTitulo {
    background-color: #e5e5e5c2;
}
.institucional {
    margin: 30px auto;
    width: 90%;
    min-height: 70vh;
    max-width: $max-width;
    .contInfo{
        font-size: 20px;
        color: $text-color;
        line-height: 1.5em;
        font-family: $main-font;
    
        display: flex;
        align-items: center;
        p {
            align-self: center;
        }
        img{
            margin: auto;
            display: flex;
            width: 45%;
            flex: 1;
        }
    }
}
@media (max-width: 960px) {
    .institucional {
        .contInfo {
            font-size: 16px;
            flex-direction: column;
        }
        img {
            width: 75%;
        }
    }
}