/*insitucional*/
$main-color : #15B2F6;
$text-color: #343434;
$back-grey : #E5E5E5;
$main-font: 'Raleway', sans-serif;
$margin-default: 20px;
$max-width: 1380px;

.institucional {
    margin: $margin-default+20 auto;
    width: 90%;
    min-height: 70vh;
    max-width: $max-width;

    .allInstitucional {
        display: flex;
        align-items: center;
    }
    h1{
        font-family: $main-font;
        font-size: 40px;
        font-weight: 900;
        color: $text-color;
        margin-bottom: $margin-default+10;
    }
    img{
        display: flex;
        width: 45%;
        flex: 1;
    }
    .contInfo{
        font-size: 18px;
        color: $text-color;
        line-height: 1.5em;
        font-family: $main-font;
    
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}
@media (max-width: 960px) {
    .institucional {
         h1 {
        font-size: 35px;
        }
        .contInfo {
            font-size: 12px;
        }
        img {
            width: 75%;
        }
        .allInstitucional {
            flex-direction: column;
        }
    }
}